<% include partials/header.ejs %>
<h1>Welcome to YelpCamp!</h1>
<p>A handpicked collection of finest campgrounds from around the world.</p>
<a href="/campgrounds">View all Campgrounds!</a>
<% include partials/footer.ejs %>